@media (min-width:992px) {
    .author .text-2 {
        margin-top: -21%;
    }
}

@media (min-width:1200px) {
    .fact p+p {
        max-width: 71%;
    }
    .live .right-text p {
        max-width: 90%;
    }
    .works .reg-step .content .left p {
        font-size: 16px;
        width: 65%;
    }
    .author .text-2 {
        margin-top: -29%;
    }
}

@media (min-width: 1300px) {
    .author .text-2 {
        margin-top: -19%;
    }
}
@media (max-width:1199px) {
    .fact p+p {
        max-width: 90%;
    }
    .live .right-text {
        padding: 50px 15px 50px 40px;
    }
    .live .bottom-text {
        width: 80%;
    }
    .live .bottom-text p {
        max-width: 72%;
    }
    .theory .bar .content1 {
        width: 65%;
        margin-left: 80px;
    }
    .theory .bar .content2 {
        width: 65%;
        margin-left: 184px;
    }
    .theory .bar .content3 {
        margin-left: 130px;
    }
    .theory .bar .content4 {
        margin-left: 17px;
    }
    .theory .bar .content {
        width: 65%;
    }
    .coases .text-top {
        width: 56%;
    }
    .board p {
        max-width: 55%;
        padding: 133px 10px 10px 159px;
    }
    .works .reg-step .content .left {
        width: 40%;
    }
    .works .reg-step .right {
        width: 60%;
    }
    .about .content .right-text {
        width: 50%;
    }
    .different .text-top {
        width: 60%;
    }
    .different .text-2 {
        width: 65%;
    }
    .different .text-3 {
        width: 58%;
    }
    .task .text-top .text-right {
        width: 47%;
    }
    .theory .text-bottom p+p {
        margin-left: 0;
    }
    .author .content-p-top p {
        font-size: 20px;
    }
    .author .text-1 p {
        font-size: 16px;
    }
    .author .text-2 p {
        padding: 86px 40px 30px 48px;
        font-size: 18px;
    }
    .live .right-text p {
        max-width: 100%;
    }
    .theory .bar .content {
        width: 80%;
    }
    .theory .text-bottom {
        margin-left: 75px;
    }
    .coases .text-top h2 {
        font-size: 37px;
        line-height: 45px;
    }
    .coases .text-top p {
        line-height: 30px;
        font-size: 16px;
    }
    .coases .list-bottom ul p {
        font-size: 16px;
    }
    .board p {
        font-size: 16px;
        line-height: 30px;
    }
    .task .text-top .text-right p {
        line-height: 30px;
        font-size: 16px;
    }
    .task .text-2 p {
        font-size: 16px;
        line-height: 30px;
    }
    .task .img-list .text h3 {
        font-size: 18px;
    }
    .task .img-list .text p {
        font-size: 16px;
        line-height: 30px;
    }
    .task .list-bottom {
        margin-left: 54px;
        font-size: 18px;
    }
    .task .list-2-right {
        padding: 51px 0 0 37px;
        line-height: 30px;
        font-size: 16px;
    }
    .task .img-list-2 ul li span {
        font-size: 16px;
    }
    .task .list-3-bottom {
        line-height: 30px;
        font-size: 16px;
        padding-bottom: 60px;
    }
    .task .button-bottom p {
        padding-bottom: 109px;
    }
    .support .contnet p {
        max-width: 100%;
    }
    .cost .content,
    .cost .cost-footer {
        width: 75%;
    }
    .about .content .right-text {
        width: 70%;
    }
    .different .text-2,
    .different .text-3 {
        width: 85%;
    }
    .different .text-top {
        width: 90%;
    }
    .fact p {
        font-size: 18px;
    }
    .fact p+p {
        padding-left: 143px;
    }
    .author .text-1 {
        margin-top: -8%;
    }
    body {
        font-size: 16px;
    }
    .about .content .right-text {
        line-height: 30px;
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .author .text-2 {
        margin-top: -18%;
    }
}

@media (max-width:1050px) {
    .author .text-2 {
        margin-top: -22%;
    }
}

@media (max-width:991px) {
    .author .text-2 p {
        max-width: 100%;
    }
    .author .text-2 {
        width: 64%;
    }
    .author .text-1 {
        margin-top: -9%;
    }
    .fact p+p {
        max-width: 70%;
    }
    .live .left-img {
        width: 100%;
    }
    .live .right-text {
        width: 100%;
        margin-top: -5px;
    }
    .live .right-text p {
        max-width: 100%;
    }
    .live .bottom-text {
        width: 100%;
        padding-left: 88px;
    }
    .theory .text-top p {
        max-width: 100%;
    }
    .theory .text-bottom {
        margin-left: 15px;
    }
    .coases .text-top {
        width: 100%;
        padding-left: 88px;
    }
    .coases {
        background: none;
    }
    .coases .list-bottom {
        width: 100%;
        float: right;
        padding-left: 129px;
    }
    .cost .content,
    .cost .cost-footer {
        width: 90%;
    }
    .works .reg-step .content-1 {
        margin-left: 0;
    }
    .works .reg-step .content {
        width: 100%;
    }
    .works .reg-step .content-3 {
        margin-left: 0;
    }
    .different .text-top {
        width: 100%;
    }
    .different .text-2 {
        width: 90%;
    }
    .different .text-3 {
        width: 82%;
    }
    .video iframe {
        width: 80%;
    }
    .theory .bar .content {
        width: 94%;
        font-size: 16px;
    }
    .theory .bar .content1 {
        margin-left: 0;
    }
    .theory .bar .content2 {
        margin-left: 40px;
    }
    .theory .bar .content3 {
        margin-left: 13px;
    }
    .theory .bar .content4 {
        margin-left: 56px;
    }
    .theory::after {
        display: none;
    }
    .coases {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .board p {
        padding: 133px 10px 10px 120px;
        font-size: 16px;
    }
    .task .list-3-bottom {
        width: 100%;
    }
    .works .text-bottom {
        width: 100%;
        font-size: 14px;
    }
    .about .content .right-text {
        font-size: 16px;
    }
    .different p {
        font-size: 16px;
        line-height: 30px;
    }
    .different .text-2 p {
        padding-left: 78px;
    }
    .different .text-3 p {
        padding-left: 53px;
    }
    .main-footer .question p {
        font-size: 15px;
    }
    .works .button-bottom a.button,
    .different .button-bottom a.button,
    .task .button-bottom a.button,
    .video a.button {
        padding: 15px 10px;
    }
    .author .text-1,
    .author .text-2 {
        margin-top: 0;
        position: static;
        width: 100%;
    }
    .author .text-2 p,
    .author .text-1 p {
        width: 100%;
        font-size: 18px;
    }
    .author .text-2 p {
        padding: 30px;
    }
    .fact h2 {
        padding-left: 90px;
        line-height: 45px;
    }
    .fact p+p {
        padding-left: 33px;
        font-size: 16px;
    }
    .task .text-2 h3 {
        font-size: 24px;
        text-align: center;
        line-height: 35px;
        margin: 56px 0;
    }
    .support .contnet h3 {
        font-size: 22px;
    }
}

@media (max-width:767px) {
    .author .text-1 {
        margin-top: 0;
        position: static;
        width: 100%;
    }
    .video iframe {
        width: 100%;
    }
    .author .text-1 p {
        width: 90%;
        ;
    }
    .author .text-2 {
        margin-top: 0;
        position: static;
        width: 100%;
    }
    .author .text-2 p {
        max-width: 100%;
        padding: 30px;
    }
    .fact h1 {
        font-size: 47px;
    }
    .fact h2 {
        font-size: 28px;
        padding-left: 81px;
    }
    .fact h3 {
        font-size: 28px;
        padding-left: 22px;
    }
    .fact p+p {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .live .bottom-text {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .live .bottom-text p {
        max-width: 100%;
    }
    .theory .bar .content {
        margin: 0;
        width: 100%;
    }
    .board p {
        max-width: 100%;
        padding: 0 0;
    }
    .board {
        background: none;
        min-height: 370px;
    }
    .task .text-top .text-right {
        width: 100%;
        padding-top: 10px;
    }
    .task .text-2 h3 {
        margin: 50px 0;
        margin-left: 0;
    }
    .task .list-bottom {
        margin-left: 0;
    }
    .task .img-list {
        margin-left: 0;
        width: 100%;
    }
    .task .img-list-2 {
        margin-left: 0;
        width: 100%;
        float: left;
    }
    .task .list-2-right {
        padding: 0;
        padding-top: 30px;
        padding-right: 0;
        width: 100%;
    }
    .task .img-list-3 {
        margin-left: 0;
        margin-top: 26px;
    }
    .task .list-3-bottom {
        width: 100%;
    }
    .task .button-bottom p {
        padding-bottom: 70px;
    }
    .week .head p {
        max-width: 100%;
        padding: 0 0;
    }
    .support .contnet {
        width: 50%;
        padding: 0 15px;
    }
    .support h2 {
        font: 400 16px "Poppins", sans-serif;
        padding: 0 0;
    }
    .cost .content,
    .cost .cost-footer {
        width: 100%;
    }
    .works .reg-step .content .left {
        width: 100%;
    }
    .works .reg-step .right {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .works .reg-step .content {
        margin-left: 0;
    }
    .works .text-top {
        margin-left: 0;
        padding: 16px 0;
        text-align: center;
    }
    .works .text-bottom {
        width: 100%;
        padding: 0 0;
    }
    .about {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .different .text-2 p {
        padding-left: 15px;
    }
    .different .text-3 p {
        padding-left: 15px;
    }
    .theory .container::after {
        display: none;
    }
    .theory .text-top p {
        max-width: 83%;
    }
    .author .content-p-top p {
        max-width: 94%;
    }
    .about .content .right-text {
        width: 64%;
    }
    .task .img-list {
        padding: 15px;
    }
    .fact p {
        padding-left: 0;
    }
    .live .right-text {
        padding: 15px;
    }
    .coases {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .coases .text-top {
        padding-left: 0;
    }
    .coases .list-bottom {
        padding-left: 43px;
    }
    .task .text-top .img-left {
        display: none;
    }
    .video h1 {
        font-size: 28px;
    }
    .author h3 {
        padding-left: 0;
        font-size: 22px;
    }
    .author .content-p-top p {
        font-size: 15px;
        line-height: 33px;
    }
    .author .text-2 p,
    .author .text-1 p {
        font-size: 16px;
        line-height: 30px;
    }
    .fact h4 {
        padding-bottom: 0;
    }
    .fact h1 {
        padding-bottom: 10px;
    }
    .fact h2 {
        padding-bottom: 0;
    }
    .task .text-2 h4 {
        font: 700 25px "Poppins", sans-serif;
    }
    .task .text-2 h3 {
        font-size: 20px;
    }
    .week .head h2 {
        font-size: 25px;
    }
    .support .contnet h3 {
        font-size: 20px;
    }
    .support .contnet p {
        font-size: 14px;
    }
}

@media (max-width:575px) {
    .main-footer .text-top h2 {
        font-size: 23px;
        line-height: 37px;
    }
    .theory .text-top p {
        max-width: 100%;
        font-size: 16px;
    }
    .theory .text-top h2 {
        font-size: 45px;
    }
    .task .img-list-2 ul li span,
    .task .img-list .text p {
        font-size: 14px;
    }
    .author .text-bg {
        font: 700 130px "Poppins", sans-serif;
        line-height: 0;
    }
    .theory .text-bottom p span {
        font: 700 60px/0 "Poppins", sans-serif;
    }
    .step ul li {
        padding: 11px 35px;
        font-size: 14px;
    }
    .step ul li:first-child {
        padding-right: 0;
    }
    .video h1 {
        line-height: 30px;
        font-size: 16px;
    }
    .video h4 {
        font-size: 14px;
        padding: 29px 0 10px 0;
    }
    .video a.button {
        padding: 15px 5px;
    }
    .author h3 {
        padding-left: 0;
        padding-top: 14px;
    }
    .author .img-1 {
        width: 90%;
        float: left;
        margin-top: 0;
    }
    .author .img-2 {
        display: none;
    }
    .author .content-p-top {
        width: 100%;
        float: left;
    }
    .fact h2 {
        font-size: 21px;
        padding-left: 0;
    }
    .fact h3 {
        font-size: 22px;
        padding-left: 0;
    }
    .fact p {
        padding-left: 0;
    }
    .fact p+p {
        padding-left: 0;
    }
    .live .right-text {
        padding: 50px 15px 50px 15px;
    }
    .live .right-text h2 {
        font-size: 23px;
        margin-top: 0;
    }
    .live .bottom-text {
        padding: 25px 0;
    }
    .theory .text-top p {
        margin-left: 0;
    }
    .theory .bar .content {
        margin: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
    }
    .theory .text-bottom {
        margin-left: 0;
        padding-right: 15px;
    }
    .theory .text-bottom p+p {
        margin-left: 0;
    }
    .coases {
        padding-top: 50px;
        padding-bottom: 0;
    }
    .coases .text-top {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .coases .text-top h2 {
        font-size: 25px;
    }
    .coases .list-bottom {
        padding-left: 44px;
    }
    .task .text-top .img-left {
        display: none;
    }
    .task .text-top .text-right {
        width: 100%;
        padding-right: 0;
    }
    .task .text-2 h4 {
        font: 700 20px "Poppins", sans-serif;
    }
    .task .img-list .img {
        display: none;
    }
    .task .img-list .text {
        width: 100%;
    }
    .task .button-bottom a.button,
    .works .button-bottom a.button,
    .different .button-bottom a.button {
        padding: 0 5px;
    }
    .week .week-content .week-left {
        width: 100%;
    }
    .week .week-content .week-right {
        width: 100%;
        padding: 0 0;
    }
    .week .week-content .week-left {
        line-height: 67px;
    }
    .support {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .support .contnet {
        width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
    }
    .support .contnet p {
        max-width: 100%;
        line-height: 25px;
    }
    .cost {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cost .content {
        padding: 10px;
    }
    .works .reg-step .content .left p {
        font-size: 16px;
    }
    .works .button-bottom {
        padding-top: 60px;
    }
    .about .content .left-img {
        width: 100%;
    }
    .about .content .right-text {
        width: 100%;
        padding-right: 0;
    }
    .different .text-2 {
        width: 100%;
    }
    .different .text-3 {
        width: 100%;
        margin-left: 0;
    }
    .main-footer .question p {
        max-width: 100%;
    }
    .main-footer .question {
        padding-right: 0;
    }
    .fact p {
        padding-left: 0;
        padding-right: 0;
    }
    .coases .list-bottom {
        padding-right: 0;
    }
    .about .text-top h2 {
        margin-bottom: 15px;
    }
    .step ul li {
        padding: 11px 26px;
    }
    .step ul .active::after {
        top: -8px;
        right: -21px;
    }
    .step ul .active::before {
        top: -9px;
    }
}

@media (max-width: 450px) {
    .video iframe {
        min-height: 300px;
    }
}
